NODE_ENV=production
BACKEND_BASE_URL=https://backend_host
FRAME_SRC="frame-src https://*.s3.amazonaws.com/"
CONNECT_SRC="connect-src 'self' ws: wss: http://<backend_host> *.example.com https://*.s3.amazonaws.com"
ENV=staging
DASHBOARD_DISABLED="true"
